<?xml version="1.0" encoding="utf-8" ?>
<beans>
    <bean id="customerDAO" class="com.canvs.customer.dao.impl.CustomerDAOImpl"/>
    <bean id="customerService" class="com.canvs.customer.service.impl.CustomerServiceImpl">
        <!--  property标签用来表示属性，name表示属性名，ref表示引用其他bean的id值 -->
        <property name="customerDAO" ref="customerDAO"/>
    </bean>
    <bean id="customer" class="com.canvs.customer.controllers.CustomerServlet">
        <property name="customerService" ref="customerService"/>
    </bean>
</beans>